{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Aperture</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/IP.css' %}">    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    input{
        padding:10px;
        width: 100%;
        font-size: 17px;
        outline: none;
        margin: 0px;
        border: none;
        border: 1px solid #ccc;
      }
      .wrap{
        margin-top: 0px;
      }
      </style>
  </head>
    <body class="home">

      <div class="row">
        <div class = "col-xs-12">
          <form class="searchform">
            <input placeholder="Search" onclick="this.style.opacity='1'"/>
          </form>
        </div>
      </div>
      <div class = "row">
        <div cl= "col-xs-12">
          <center class = "wrap">
            <p class="text-center head-text logo-font">aperture.</p>
            <p class="text-center text-16">We're growing bigger and bigger, thanks to you!<br/>You're one step closer to being awesome.</p>
            <form class = "loginbox signup" method="post" style="background-color:#fff;" >
              {% csrf_token %}
              {{ form }}
              <!-- <input class = "input-default all-curve" placeholder="Full Name" spellcheck="false" type="text" value = "{{ name }}" name="name"/>
              <input class = "input-default all-curve" placeholder="E-mail" spellcheck="false" type="email" value = "{{ email }}" name="email"/>
              <input class = "input-default all-curve" placeholder="Username" spellcheck="false" type="text" value = "{{ username }}" name="username"/>
              <input class = "input-default all-curve" placeholder="Password" spellcheck="false" type="password" value = "{{ password }}" name="password"/>
              <p class="disp_error">{{ loginerror2 }}</p> -->
              <input type="submit" class="submit login-btn" value="Proceed"><br/><br/>
            </form>
          </center>
        </div>
      </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>

      </body>
    </html>
