{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Aperture</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/IP.css' %}">    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

      .likebtn{
        background-color:transparent; border: none;font-weight:bold; font-size:12px;
        text-align: left;
      }
      .upvotebtn{
        border: none;
        display: run-in;
        margin-left: 20px;
        font-size: 12px;
      }
      .logout, .logout:hover{
        color: #fff;
        /*background-color: #777;*/
        /*padding: 5px;*/
        display: inline-grid;
        text-decoration: none;
        font-weight: bold;

      }
    </style>
  </head>
    <body class="light">
<div class = "row">
  <div class="col-xs-12">
    <div class = "row">
      <div class = "col-xs-12" style="float:none;">
        <div class="col-xs-12">
          <p class="logo-font text-16 text-center" style="font-size:30px;">aperture.</p>
        </div>
      </div>
      <div class="col-xs-12">
        <p class="text-16 text-center">  {{ user.username }} / <a href = "/upload/" class="logout">upload</a>  / <a href = "/logout/" class="logout">logout</a> </p>
      </div>
      <div class="col-xs-12">
<center>
{% for post in posts%}
  <div class="post">
    <p class="post_author">{{ post.user.username }}</p>
    <img src = "{{post.image_url}}" class="post_img"/>
    <p style="text-align:left;">{{ post.caption }}</p>
    <p style="text-align:left; font-size:10px;">{{ post.created_on }}</p>
    <form class="like" action="/like/" method="post">
      {% csrf_token %}
      <input type="hidden" name="post" value="{{ post.id }}" />
         {% if post.has_liked %}
         <input type="submit" class="likebtn" value="Unlike">
         {% else %}
         <input type="submit" class="likebtn" value="Like">
         {% endif %}


      <span class="badge" style="background-color:#5889b2;"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ post.like_count }}</span>
    </form>
    <form class="commentform" method="post" action="/comment/">
      {% csrf_token %}
      <input type="hidden" name="post" value="{{ post.id }}" />
      <input name="comment_text" placeholder="type your comment" class="input-default" value="{{ comment_text }}"/>
    </form>
    <div class="comments">
              {% for comment in post.comments %}
                  <p><b>{{ comment.user.username }}</b> {{ comment.comment_text }}</p>
                  <div class="upvote">
                    <form action="/upvote/" method="post">
                      {% csrf_token %}
                      <input type="hidden" name="comment" value="{{ comment.id }}" />
                         {% if comment.has_liked %}
                         <input type="submit" class="upvotebtn" value="Downvote">
                         {% else %}
                         <input type="submit" class="upvotebtn" value="Upvote">
                         {% endif %}
                  </div>

              {% endfor %}
          </div>

  </div>
{% endfor %}

</center>
      </div>
    </div>

  </div>
</div>
    </body>
</html>
