{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Aperture</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/IP.css' %}">    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body class="greybg">
<div class = "row">
  <div class="col-xs-12">
    <div class = "row">
      <div class = "col-xs-12" style="float:none;">
        <div class="col-xs-12">
          <p class="logo-font text-16" style="font-size:30px;">aperture.</p>
        </div>
      </div>
      <div class="col-xs-12">
        <form class="upload">
          <input name="caption" placeholder="caption" value="{{ caption }}" class="input-default"/>
          <input type="file" name="image" value="upload" accept="image/*" />
        </form>
      </div>
    </div>

  </div>
</div>
    </body>
</html>
