{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Aperture</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/IP.css' %}">    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">

      .likebtn{
        background-color:transparent; border:1px solid #000; border-radius:1000px; font-weight:bold; font-size:12px;
      }
      .logout, .logout:hover{
        color: #fff;
        /*background-color: #777;*/
        /*padding: 5px;*/
        display: inline-grid;
        text-decoration: none;
        font-weight: bold;

      }
    </style>
  </head>
    <body class="light">
<div class = "row">
  <div class="col-xs-12">
    <div class = "row">
      <div class = "col-xs-12" style="float:none;">
        <div class="col-xs-12">
          <p class="logo-font text-16 text-center" style="font-size:30px;">aperture.</p>
        </div>
      </div>
      <div class="col-xs-12">
        <p class="text-16 text-center">  {{ user.username }} / <a href = "/logout/" class="logout">logout</a> </p>
      </div>
      <div class="col-xs-12">
<center>
{% for post in posts%}
  <div class="post">
    <p class="post_author">{{ post.user.username }}</p>
    <img src = "{{post.image_url}}" class="post_img"/>
    <form class="like" action="/like/" method="post">
      {% csrf_token %}
      <input type="hidden" name="post" value="{{ post.id }}" />
         {% if post.has_liked %}
         <input type="submit" class="likebtn" value="Unlike">
         {% else %}
         <input type="submit" class="likebtn" value="Like">
         {% endif %}


      <span class="badge" style="background-color:#ff3399;"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{ post.like_count }}</span>
    </form>
    <form class="commentform">
      <input type="hidden" name="post" value="{{ post.id }}" />
      <p class="comment" style="float:right;"><span class="badge" style="background-color:#ff3399;"><i class="fa fa-comment" aria-hidden="true"></i> 1</span></p>
      <input value="" name="" placeholder="type your comment" class="input-default" value="{{ comment_text }}"/>
    </form>
    <div class="comment">
      {% for comment in post.comments %}
      <p class="user">{{ comment.username }} </p><p class="comment_text">{{ comment_text }}</p>
      {% endfor %}
    </div>
  </div>
{% endfor %}

</center>
      </div>
    </div>

  </div>
</div>
    </body>
</html>
