{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Aperture</title>
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/IP.css' %}">    <link href="https://fonts.googleapis.com/css?family=Racing+Sans+One" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    input{
        padding:10px;
        width: 100%;
        font-size: 17px;
        outline: none;
        margin: 0px;
        border: none;
        border: 1px solid #ccc;
      }
    </style>
  </head>
  <body class="light">
    <div class = "col-xs-12">

      <!-- <center><form method="post" enctype="multipart/form-data" class="loginbox" style="margin-top:200px;">
        {% csrf_token %}
            <p class="text-16">Upload to aperture.</p>
        <input type="file" accept="image/*" value="{{ form.image }}" name="image" class="login-btn" /><br/>
        <input placeholder="Caption" class="input-default all-curve" rows="3" value="{{ form.caption }}" name="caption" />
        <p class="text-16">{{ error_msg }}</p>
        <input class="login-btn" type="submit" value="Upload"/>
      </form></center> -->


      <form method="post" enctype="multipart/form-data" class="loginbox" style="margin-top:200px;">
        {% csrf_token %}
            <p class="text-16" style="color:#000;">Upload to aperture.</p>
            {{ form }}
        <p class="text-16">{{ error_msg }}</p>
        <input class="login-btn" type="submit" value="Upload"/>
      </form>
<a href = "/feed/">back</a>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
           <!-- Include all compiled plugins (below), or include individual files as needed -->
           <script src="js/bootstrap.min.js"></script>
  </body>
  </html>
